[submodule "themes/winston"]
	path = themes/winston
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
